{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontFace     := replace .Site.Params.font.name " " "+" }}
{{- $fontSizes    := delimit .Site.Params.font.sizes "," }}
{{- $fontUrl      := printf "https://fonts.googleapis.com/css?family=%s:%s" $fontFace $fontSizes }}
<link rel="icon" type="image/png" href="{{ "images/favicon.svg" | relURL }}" />
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin="">
<link rel="preconnect" href="//www.googletagmanager.com" crossorigin="">
<link rel="preconnect" href="//connect.facebook.net" crossorigin="">
<link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin="">
<link rel="preconnect" href="//www.gstatic.com" crossorigin="">
<link rel="preload" href="{{ $fontUrl }}&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
<link href="{{ $fontUrl }}&display=swap" rel="stylesheet" type="text/css" />
</noscript>
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
<script>
document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});</script>
<!-- <link rel="stylesheet" type="text/css" href="{{ "css/icons.css" | relURL }}"> -->
